// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: snow;
}

h1{
  text-align: center;
}
a.login {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: blue;
    right:0px;
    top:0px;
    margin-bottom: 1px;
    position: absolute;
}
a.signup {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: blue;
    right:0px;
    top:30px;
    margin-bottom: 1px;
    position: absolute;
}

#welcomeheader {
    top: 0px;
    width: 100%;
    height: 100px;
    margin:auto;
    text-align:center;
    display:inline-block;
    background-color: red;
}

img{
position: absolute;
  left: 0px;
  height:auto;
  width: auto;
  max-width: 5%;
  max-height: 5%;
}

#location{
  position: absolute;
  left: 200px;
  top: 0px;
}


#find{
position:absolute;
left:600px;
top:0px;

}
