// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: snow;
}

#map {
  height: 1000px;
  margin: 0;

}

h1{
  text-align: center;
}
a.login {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: blue;
    right:0px;
    top:0px;
    margin-bottom: 1px;
    position: absolute;
}
a.signup {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: blue;
    right:0px;
    top:30px;
    margin-bottom: 1px;
    position: absolute;
}
a.barbertag{
  text-decoration: none;
  color:black;
}

#welcomeheader {
    top: 0px;
    width: 100%;
    height: 100px;
    margin:0;
    text-align:center;
    display:inline-block;
    background:#FFF;
}

img{
  position: absolute;
  left: 10px;
  height:auto;
  width: auto;
  max-width: 10%;
  max-height: 10%;
 }

#search{
  position: absolute;
  left: 200px;
  top: 0px;
  width: 30%;
}


#find{
position:absolute;
left:600px;
top:0px;

}

#barbers-list{
   height: 1000px;
   margin: 0px;
  overflow: scroll;
}

.barberinfo{
  background:#fcfcfc;
      border:1px solid #ccc;
      border-bottom:2px solid #bbb;
      border-top:1px solid #ddd;
      border-radius:10px;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;

}

.barberinfo:hover{
   background-color:yellow;
    z-index: 10
}
