<!DOCTYPE html>
<html>
<head>
  <title>BlackBarberShopSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/template", id='barbershoptempplate'>
    <div class="barberinfo">
      <h6><%%=BarbershopName%><h6><br>
        <p>rating<p><p>closed open</p>
    </div>

  </script>


</head>
<body>

<%= yield %>

</body>
</html>
