<!DOCTYPE html>
<html>
  <head>
    <title>The Shop</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        html, body {
               height: 100%;
               margin: 0;
               padding: 0;
        }
        #map {
               height: 1000px;
             }
        </style>
  </head>
  <body>
    <header>
    </header>
    <div class="wrapper">
        <div class="map-section">
          <div class="row">
            <div class="four columns barbers-container">
              <div id="barbers-list">

              </div>
            </div>
            <div class="">

              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Zq2SX13m5S-MDOrM-bgnYFUJXYeeAoM"></script>
  </body>
</html>
