<!DOCTYPE html>
<html>
  <head>
    <title>Geocoding service</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" charset="utf-8">
    <style>
         html, body {
           height: 100%;
           margin: 0;
           padding: 0;
         }
         #map {
           height: 500px;
         }
    </style>
  </head>
  <body>
    <header>
       <div id="welcomeheader">
          <form class="" action="index.html" method="post">
            <input class="location four columns" type="text" name="name" value="" placeholder="Current Location">
            <input class "three columns" type="submit" value="Find Barbers">
          </form>
          <a href="/log_in" class="button">Log In</a>
          <a href="/sign_up" class="button">Sign Up</a>
       </div>
    </header>
    <div class="wrapper">
          <div class="map-section">
            <div class="row">
              <div class="four columns countries-container">
                <ul id="countries-list">
                        <li>
                              Barbershop 1
                        </li>

                        <li>
                              Barbershop 2
                        </li>
                        <li>
                              Barbershop 3
                        </li>
                        <li>
                              Barbershop 4
                        </li><li>
                              Barbershop 5
                        </li><li>
                              Barbershop 6
                        </li>

                </ul>
              </div>
              <div class="eight columns map-container">

                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Zq2SX13m5S-MDOrM-bgnYFUJXYeeAoM&true&callback=initMap"
    async defer>
</script>
  </body>
</html>
